<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="visitSite"><%= link_to "Home", casein_home_index_path %></li>
<li id="visitSite"><%= link_to "Customer visits", casein_customer_visits_path %></li>
<li id="visitSite"><%= link_to "Product categories", casein_product_categories_path %></li>
<li id="visitSite"><%= link_to "Products", casein_products_path %></li>
<li id="visitSite"><%= link_to "Customers", casein_customers_path %></li>
<li id="visitSite"><%= link_to "Facebook", login_page_casein_facebook_index_path %></li>

