<div class="tfContainer">
<%= f.label :first_name %><br/>
<%= f.text_field :first_name %>
</div>	
<div class="tfContainer tfContainerSecond">
    <%= f.label :last_name %><br/>
    <%= f.text_field :last_name %>
</div>  
<div class="tfContainer">
    <%= f.label :card_type %><br/>
    <%= f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]] %>
</div>
<div class="tfContainer tfContainerSecond">
	<%= f.hidden_field :product_id %><br/>
	<%= f.hidden_field :user_id,:value=> current_user.id %>
</div>
<div class="tfContainer">
    <%= f.label :card_number %><br/>
    <%= f.text_field :cart_number %>
</div>		
<div class="tfContainer tfContainerSecond">
    <%= f.label :card_verification, "Card Verification Value (CVV)" %><br />
    <%= f.text_field :card_verification %>
</div>
<div>
<%= f.label :card_expires_on %><br/>
<%= f.date_select :card_expires_on, :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :add_month_numbers => true %>
</div>